{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quickbooks Online Services</title>
    <!-- Bootstrap Core CSS -->
<link href="{% static 'assests/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="{% static 'assests/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'assests/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<style>
.connect-class{float:right;}
.msg-div{text-align-last: center; background: green; color: #fff; padding: 4px; width: 100%;}
</style>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Welcome </a>

            </div>           
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                   <a href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                  
                </li>
                <!-- /.dropdown -->
            </ul>
            <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
           
            <li>
                <a href=""> Dashboard</a>
            </li>
            <li>
                <a href="/profit_loss"> Profit & Loss</a>
            </li>
            <li>
                <a href="/kpi"> Profit & Loss - KPI</a>
            </li>
            <li>
                <a href="/kpi_settings/"> Profit & Loss - KPI Settings</a>
            </li>
            <li>
                <a href="/dashboard/"> My Dashboards</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>        </nav>